.kurun_title{
	color: white;
	font-family: "宋体";
}
#input_box{
	margin-top: 5%;
}
.mui-input-group div{
	margin: 6%;
}
.sex_text{
	position: relative;
	top: 24%;
	color: darkgray;
}
.Province_text{
	position: relative;
	top: 24%;
	color: darkgray;
}
.city_text{
	position: relative;
	top: 24%;
	color: darkgray;
}
#btn_click{
	margin-left: -20px;
}
#Reset{
	margin-left: 100px;
}
