<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newins.dao.NiUserDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.newins.model.NiUserDevice" >
    <id column="userId" property="userid" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="serialNo" property="serialno" jdbcType="VARCHAR" />
    <result column="release" property="release" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="imei" property="imei" jdbcType="VARCHAR" />
    <result column="networkProvider" property="networkprovider" jdbcType="TINYINT" />
    <result column="size" property="size" jdbcType="TINYINT" />
    <result column="resolution" property="resolution" jdbcType="TINYINT" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userId, brand, model, serialNo, release, manufacturer, imei, networkProvider, size, 
    resolution, comment
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.newins.model.NiUserDeviceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ni_user_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ni_user_device
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ni_user_device
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newins.model.NiUserDeviceExample" >
    delete from ni_user_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newins.model.NiUserDevice" >
    insert into ni_user_device (userId, brand, model, 
      serialNo, release, manufacturer, 
      imei, networkProvider, size, 
      resolution, comment)
    values (#{userid,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{serialno,jdbcType=VARCHAR}, #{release,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, 
      #{imei,jdbcType=VARCHAR}, #{networkprovider,jdbcType=TINYINT}, #{size,jdbcType=TINYINT}, 
      #{resolution,jdbcType=TINYINT}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.newins.model.NiUserDevice" >
    insert into ni_user_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userId,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="serialno != null" >
        serialNo,
      </if>
      <if test="release != null" >
        release,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="imei != null" >
        imei,
      </if>
      <if test="networkprovider != null" >
        networkProvider,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="resolution != null" >
        resolution,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="serialno != null" >
        #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="release != null" >
        #{release,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="networkprovider != null" >
        #{networkprovider,jdbcType=TINYINT},
      </if>
      <if test="size != null" >
        #{size,jdbcType=TINYINT},
      </if>
      <if test="resolution != null" >
        #{resolution,jdbcType=TINYINT},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newins.model.NiUserDeviceExample" resultType="java.lang.Integer" >
    select count(*) from ni_user_device
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ni_user_device
    <set >
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null" >
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.serialno != null" >
        serialNo = #{record.serialno,jdbcType=VARCHAR},
      </if>
      <if test="record.release != null" >
        release = #{record.release,jdbcType=VARCHAR},
      </if>
      <if test="record.manufacturer != null" >
        manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="record.imei != null" >
        imei = #{record.imei,jdbcType=VARCHAR},
      </if>
      <if test="record.networkprovider != null" >
        networkProvider = #{record.networkprovider,jdbcType=TINYINT},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=TINYINT},
      </if>
      <if test="record.resolution != null" >
        resolution = #{record.resolution,jdbcType=TINYINT},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ni_user_device
    set userId = #{record.userid,jdbcType=INTEGER},
      brand = #{record.brand,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      serialNo = #{record.serialno,jdbcType=VARCHAR},
      release = #{record.release,jdbcType=VARCHAR},
      manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      imei = #{record.imei,jdbcType=VARCHAR},
      networkProvider = #{record.networkprovider,jdbcType=TINYINT},
      size = #{record.size,jdbcType=TINYINT},
      resolution = #{record.resolution,jdbcType=TINYINT},
      comment = #{record.comment,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newins.model.NiUserDevice" >
    update ni_user_device
    <set >
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="serialno != null" >
        serialNo = #{serialno,jdbcType=VARCHAR},
      </if>
      <if test="release != null" >
        release = #{release,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="imei != null" >
        imei = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="networkprovider != null" >
        networkProvider = #{networkprovider,jdbcType=TINYINT},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=TINYINT},
      </if>
      <if test="resolution != null" >
        resolution = #{resolution,jdbcType=TINYINT},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newins.model.NiUserDevice" >
    update ni_user_device
    set brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      serialNo = #{serialno,jdbcType=VARCHAR},
      release = #{release,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      imei = #{imei,jdbcType=VARCHAR},
      networkProvider = #{networkprovider,jdbcType=TINYINT},
      size = #{size,jdbcType=TINYINT},
      resolution = #{resolution,jdbcType=TINYINT},
      comment = #{comment,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>